<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/signup.css">
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <script src="~/js/popup.js"></script>

</head>

<div id="signup-form-popup" class="popup">
    <form id="signup-form" class="popup-content" action="/signup" method="post">
        <!-- เพิ่ม input fields ต่าง ๆ ของ signup ที่ต้องการ -->
        <input type="text" id="signup-username" name="signup-username" placeholder="Username" required>
        <input type="password" id="signup-password" name="signup-password" placeholder="Password" required>
        <!-- และอื่น ๆ ตามต้องการ -->

        <!-- เพิ่มปุ่ม submit เพื่อทำการ signup -->
        <button type="submit" id="signup-submit">Sign Up</button>
    </form>
</div>
